<ul class="list-inline text-center">
<h1>This template is built by</h1>
<li>
<% ["Stinnson", "ad22323n"].each do |gh_username| %>
	<%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle"  %>
	<h3><%= gh_username.capitalize %></h3>
</li>
	<% end %></ul>

<!-- <ul class="list-inline text-center">
	<li>
		<<img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/on1hzurys7zpuj8y1g4t.jpg" alt="">
		<h3>Mark</h3>
	</li>
	<<li>
		<img src="https://avatars2.githubusercontent.com/u/29422078?v=4" alt="">
		<h3>Amara</h3>
	</li>
</ul> -->
