#team{
height: 100vh;
display: flex;
justify-content:center;
align-items:center;
}

.img-circle{
		border-radius: 100px;
		width: 100px;

	}
ul{
	padding: 10;

}
.list-inline{
	padding: 30px;
	/*margin-top: 500px;*/
}
